.header {
  display: flex;
  align-items: center;
  max-width: 1052px;
  max-height: 105px;
  margin: 92px 24px 96px 24px;
}

.header__menu {
  max-width: 391.48px;
  margin-right: 36px;
  margin-left: 26.52px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  text-transform: lowercase;
}

.header__link_active {
  text-decoration: none;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  border-bottom: 1px #000 solid;
  line-height: 21.13px;
}

.header__links-list-item {
  list-style: circle;
}

.header__logo {
  width: 148px;
  height: 105px;

}

.address {
  max-width: 240.52px;
  margin-right: 25.48px;
  margin-left: 184px;
  font-size:  18px;
  line-height: 21.13px;
  white-space: normal;
}

.address a {
  border-bottom: 1px #000 solid;
}