address {
  font-style: normal;
}

li {
  list-style: none;
}

.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  width: 100%;
  margin: 92px 0 ;
  padding: 0 24px;
  font-size: 18px;
}

.header__menu {
  padding: 0 36px 0 26.52px;
}

.header__links-list {
  display: flex;
  justify-content: space-between;
  text-transform: lowercase;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__links-list-item {
  list-style: circle;
}

.header__link,
.address a {
  letter-spacing: 0.2px;
  text-underline-offset: 4px;

}

.address {
  margin: 5px 51px 2px 185px;
  line-height: 24.5px;
  white-space: normal;
}

.cover {
  position: relative;
  color: #fff;
  text-transform: uppercase;
  background-image: url("/images/cover.jpg");
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgb(0 0 0 / 0.6);
}

.cover__title,
.cover__description {
  position: relative;
  z-index: 1;
}

.cover__title {
  width: 100%;
  padding: 165px 50px 51px;
  font-size: 100px;
  letter-spacing: 5px;
}

.aligned-text,
.aligned-text_center,
.aligned-text_right {
  display: block;
}

.aligned-text_center {
  line-height: 136px;
  text-align: center;
}

.aligned-text_right {
  line-height: 103px;
  text-align: right;
}

.aligned-text .letter-spacing-extended {
  letter-spacing: 30px;
}

.aligned-text_center .letter-spacing-extended {
  letter-spacing: 30px;
}

.aligned-text_center .no-letter-spacing {
  letter-spacing: 62px;
}

.aligned-text_right .letter-spacing-extended {
  letter-spacing: 30px;
}

.aligned-text_right .letter-spacing-extended-a {
  letter-spacing: 1px;
}

.aligned-text_right .letter-spacing-extended-d {
  letter-spacing: 1px;
}

.aligned-text_right .no-letter-spacing {
  letter-spacing: 2px;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 33px;
  padding: 50px 50px 51px 78px;
}

.cover__description-text {
  font-weight: 400;
  font-size: 22px;
  word-spacing: 18.5px;
}

.bet-button {
  border: 1px #fff solid;
  padding: 12px 32px 11px 31px;
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  margin: 179px 24px 146px;
}

.subtitle {
  font-size: 40px;
  text-transform: uppercase;
}

.lots__heading {
  margin: 0 auto 27px 40px;
}

.lots__card-list {
  display: flex;
  gap: 24px;
}

.lots__card-list-item {
  flex-grow: 1;
  width: 334px;
  min-height: 563px;
}

.card {
  position: relative;
}